<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Roboguide colours -->
  <!-- Orange -->
  <xacro:property name="color_fenrir_orange"   value="${ 234/255} ${ 91/255} ${ 20/255} 1.0" />
  <!-- Black -->
  <xacro:property name="color_fenrir_black"   value="${ 10/255} ${ 10/255} ${ 10/255} 1.0" />

</robot>