<launch>

    <!-- Robot publisher -->
    <include file="$(find fenrir_driver)/launch/fenrir_state_publisher.launch" />

    <!-- Start simulator (driver simulator) -->
    <node name="dynamixel_driver" pkg="fenrir_driver" type="fenrir_driver_sim.py" output="screen" />

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fenrir_description)/urdf/simulation.rviz"/>

</launch>