<launch>

    <!-- Robot publisher -->
    <include file="$(find fenrir)/launch/fenrir_state_publisher.launch" />

    <!-- Joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="30.0"/>
        <remap from="joint_states" to="fenrir/joint_states"/>
    </node>

    <!-- Start driver (physical robot driver) -->
    <node output="screen" name="dynamixel_driver" pkg="fenrir" type="fenrir_driver.py" />

    <!-- Rviz (?) -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fenrir)/urdf/simulation.rviz"/>

</launch>