<launch>

    <!-- Robot publisher -->
    <include file="$(find fenrir)/launch/fenrir_state_publisher.launch" />

    <!-- Start simulator (driver simulator) -->
    <node name="dynamixel_driver" pkg="fenrir" type="fenrir_driver_sim.py" output="screen" />

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fenrir)/urdf/simulation.rviz"/>

</launch>